addresses-save.txt
backup_other

series.config

annotated*
generated*
stitched*
txt-*
viewing*

main
last.txt
y
newprompts
gitcoin-core.txt
database.tar.gz
save.txt
app
__pycache__
addresses.txt
stitch.sh
databases
one
two
.env
.DS_Store
shit*
dalledress.csv
settings.json
saved*

build/bin
node_modules
frontend/dist
file*
x
