/* Routes.module.css */
.container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full viewport height */
}

.statusBar {
  flex: 0 0 auto; /* Fixes the height of the status bar */
  /* Add other styles for your status bar */
}

.content {
  flex: 1 1 auto; /* Allows the content to grow and shrink */
  display: flex;
  flex-direction: column;
  overflow: hidden; /* Prevents overflow */
}

.gridColumn {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.imageDisplayContainer {
  flex: 1 1 auto; /* Allows image display to grow and shrink */
  max-height: 100%; /* Ensures it doesn't exceed available height */
  overflow: auto; /* Adds scroll if content exceeds available space */
  /* Add padding or margins if needed */
}
