.green {
  background-color: black;
  color: greenyellow;
  font-size: 14pt;
  font-family: monospace;
}

.red {
  background-color: black;
  color: red;
  font-size: 14pt;
  font-family: monospace;
}

.yellow {
  background-color: black;
  color: yellow;
  font-size: 14pt;
  font-family: monospace;
}
