.abisView {
  padding: var(--mantine-spacing-md);
  height: 100%;
  display: flex;
  flex-direction: column;
}

.tableContainer {
  /* Added from useStyles */
  flex-grow: 1;
  overflow-y: auto;
}

.abisTable {
  width: 100%;
}

.abisRowExpanded {
  background-color: var(
    --mantine-color-gray-1
  );
}

.abisButton {
  margin-right: var(--mantine-spacing-xs);
}
