.page-size-selector {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.9rem;
  color: var(--mantine-color-white);
  background-color: transparent;
  padding: 0.25rem 0.5rem;
  border: none;
}

.page-size-selector select {
  padding: 0.25rem 0.5rem;
  border: 1px solid var(--mantine-color-dark-7);
  border-radius: var(--mantine-radius-sm);
  background-color: var(--mantine-color-dark-6);
  color: var(--mantine-color-white);
  cursor: pointer;
}

.page-size-selector select:focus {
  outline: none;
}

.page-size-selector option {
  background-color: var(--mantine-color-dark-6);
  color: var(--mantine-color-white);
}
