.tags-table-container {
  width: 175px;
  flex-shrink: 0;
  height: auto;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: var(--mantine-spacing-sm);
}

.tags-table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
}

.tags-table-header h3 {
  margin: 0;
  font-size: 1rem;
  font-weight: 600;
  color: var(--mantine-color-white);
}

.tags-table {
  flex: 1;
  overflow-y: auto;
  outline: none;
  max-height: 500px; /* Set max height to show ~15 items */
}

.tags-table ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.tag-item {
  cursor: pointer;
  transition:
    background-color 0.2s,
    color 0.2s;
  user-select: none;
  border: none;
  outline: none;
}

.tag-item:not(.selected).focused {
  background-color: var(--mantine-color-dark-5);
  /* Alternatively, for a border:
  border: 1px solid var(--mantine-color-blue-5);
  outline: none; // Ensure default browser outline doesn't clash
  */
}

.no-tags {
  padding: var(--mantine-spacing-sm);
  text-align: center;
  color: var(--mantine-color-gray-6);
}

.clear-tag-button {
  padding: 2px 6px;
  font-size: 0.75rem;
  background: transparent;
  cursor: pointer;
  color: var(--mantine-color-gray-6);
}

.clear-tag-button:hover {
  background: var(--mantine-color-dark-5);
}
