{{$single := toSingular .Class}}
{{$singleLower := toLower (toSingular .Class)}}
{{$isChunk := eq .Class "Chunks"}}
package app

import (
    // EXISTING_CODE
	"github.com/TrueBlocks/trueblocks-core/src/apps/chifra/pkg/base"
	"github.com/TrueBlocks/trueblocks-core/src/apps/chifra/pkg/crud"
	"github.com/TrueBlocks/trueblocks-dalledress/pkg/types"
	"github.com/TrueBlocks/trueblocks-dalledress/pkg/types/{{toLower .Class}}"
	sdk "github.com/TrueBlocks/trueblocks-sdk/v5"
    // EXISTING_CODE
)

func (a *App) Get{{.Class}}Page(
	payload types.Payload,
	first, pageSize int,
	sort sdk.SortSpec,
	filter string,
) (*{{toLower .Class}}.{{.Class}}Page, error) {
	collection := {{toLower .Class}}.Get{{.Class}}Collection()
	return getCollectionPage[*{{toLower .Class}}.{{.Class}}Page](collection, payload.DataFacet, first, pageSize, sort, filter)
}

func (a *App) {{.Class}}Crud(
	payload types.Payload,
	op crud.Operation,
	item interface{},
	itemStr string,
) error {
	collection := {{toLower .Class}}.Get{{.Class}}Collection()
	return collection.Crud(payload.DataFacet, op, item, itemStr)
}

func (a *App) Get{{.Class}}Summary() types.Summary {
	collection := {{toLower .Class}}.Get{{.Class}}Collection()
	return collection.GetSummary()
}

// EXISTING_CODE
// EXISTING_CODE
