{{$single := toSingular .Class}}
{{$singleLower := toLower (toSingular .Class)}}
{{$isChunk := eq .Class "Chunks"}}
package app

import (
    // EXISTING_CODE
	"github.com/TrueBlocks/trueblocks-core/src/apps/chifra/pkg/base"
	"github.com/TrueBlocks/trueblocks-core/src/apps/chifra/pkg/crud"
	"github.com/TrueBlocks/trueblocks-dalledress/pkg/types"
	"github.com/TrueBlocks/trueblocks-dalledress/pkg/types/{{toLower .Class}}"
	sdk "github.com/TrueBlocks/trueblocks-sdk/v5"
    // EXISTING_CODE
)

func (a *App) Get{{.Class}}Page(
	payload *types.Payload,
	first, pageSize int,
	sort sdk.SortSpec,
	filter string,
) (*{{toLower .Class}}.{{.Class}}Page, error) {
	collection := {{toLower .Class}}.Get{{.Class}}Collection(payload)
	return getCollectionPage[*{{toLower .Class}}.{{.Class}}Page](collection, payload, first, pageSize, sort, filter)
}

func (a *App) {{.Class}}Crud(
	payload *types.Payload,
	op crud.Operation,
	item interface{},
) error {
	collection := {{toLower .Class}}.Get{{.Class}}Collection(payload)
	return collection.Crud(payload, op, item)
}

func (a *App) Get{{.Class}}Summary(payload *types.Payload) types.Summary {
	collection := {{toLower .Class}}.Get{{.Class}}Collection(payload)
	return collection.GetSummary()
}

// EXISTING_CODE
// EXISTING_CODE
