{{- $class := .Class -}}
{{- $lower := toLower $class -}}
{{- $single := toSingular $class -}}
{{- $upper := toUpper $class -}}
{{- $default := "" -}}
// Copyright 2016, 2026 The TrueBlocks Authors. All rights reserved.
// Use of this source code is governed by a license that can
// be found in the LICENSE file.
/*
 * Parts of this file were auto generated. Edit only those parts of
 * the code inside of 'EXISTING_CODE' tags.
 */
import { DataFacetConfig } from '@hooks';
import { types } from '@models';
import { toProperCase } from 'src/utils/toProper';

export const {{$lower}}Facets: DataFacetConfig[] = [
{{- range .Facets}}{{if eq $default ""}}{{$default = (toUpper .Name)}}{{end}}
  {
    id: types.DataFacet.{{toUpper .Name}},
    label: toProperCase(types.DataFacet.{{toUpper .Name}}),
    {{if eq $default (toUpper .Name)}}isDefault: true,{{else}}isDefault: false,{{end}}
  },{{end}}
];

export const DEFAULT_FACET = types.DataFacet.{{$default}};
export const ROUTE = '/{{$lower}}' as const;
