{{- $class := .Class -}}
{{- $lower := toLower $class -}}
{{- $single := toSingular $class -}}
// Copyright 2016, 2026 The TrueBlocks Authors. All rights reserved.
// Use of this source code is governed by a license that can
// be found in the LICENSE file.
/*
 * Parts of this file were auto generated. Edit only those parts of
 * the code inside of 'EXISTING_CODE' tags.
 */
import { FormField } from '@components';
import { types } from '@models';

// EXISTING_CODE
// EXISTING_CODE

// Column configurations for the {{$class}} data facets

export const getColumns = (dataFacet: types.DataFacet): FormField[] => {
  switch (dataFacet) {
    {{range .Facets}}case types.DataFacet.{{toUpper .Name}}:
      return get{{.Store}}Columns();
    {{end -}}
    default:
      return [];
  }
};

{{range .Stores}}const get{{.}}Columns = (): FormField[] => [
  // EXISTING_CODE
  // EXISTING_CODE
];

{{end -}}
// EXISTING_CODE
// EXISTING_CODE
