{{- $class := .Class -}}
{{- $lower := toLower $class -}}
{{- $isNames := and (eq $class "Names") }}
// Copyright 2016, 2026 The Authors. All rights reserved.
// Use of this source code is governed by a license that can
// be found in the LICENSE file.
/*
 * Parts of this file were auto generated. Edit only those parts of
 * the code inside of 'EXISTING_CODE' tags.
 */

package {{$lower}}

import (
	"github.com/TrueBlocks/trueblocks-dalledress/pkg/types"
)

// GetConfig returns the ViewConfig for the {{$class}} view
func (c *{{$class}}Collection) GetConfig() (*types.ViewConfig, error) {
	facets := map[string]types.FacetConfig{
		{{- range .Facets}}
		"{{toLower .Name}}": {
			Name:          "{{toProper .Name}}",
			Store:         "{{toLower .Store}}",
			IsForm:        {{.IsForm}},
			DividerBefore: {{and (eq .Name "Prefund") $isNames}},
			Columns:       get{{$class}}{{toProper .Name}}Columns(),
			DetailPanels:  get{{$class}}{{toProper .Name}}DetailPanels(),
			Actions:       []string{ {{- range .Cruds}}{{printf "%q" .}}, {{- end}}},
			// HeaderActions: []string{ { {- range .HeaderActions} }{ {printf "%q" .} }, { {- end} }},
		},
		{{- end}}
	}

	return &types.ViewConfig{
		ViewName:   "{{$lower}}",
		Facets:     facets,
		FacetOrder: []string{ {{- range .Facets}}{{printf "%q" (toLower .Name)}}, {{- end}}},
		Actions: map[string]types.ActionConfig{
			// { {- range .Actions} }
			// "{ {.Name} }": {Name: "{ {.Name} }", Label: "{ {.Label} }", Icon: "{ {.Icon} }"{ {if .Confirmation} }, Confirmation: true{ {end} }{ {if .Facets} }, Facets: []string{ { {- range .Facets} }{ {printf "%q" .} }, { {- end} } }{ {end}} },
			// { {- end} }
		},
	}, nil
}
