{{$class := .Class}}
{{$isAbis := eq $class "Abis"}}
{{$isMonitors := eq $class "Monitors"}}
{{$isExports := eq $class "Exports"}}
{{$shouldBePtr := or (or $isAbis $isMonitors) $isExports}}
// Copyright 2016, 2025 The TrueBlocks Authors. All rights reserved.
// Use of this source code is governed by a license that can
// be found in the LICENSE file.
/*
 * Parts of this file were auto generated. Edit only those parts of
 * the code inside of 'EXISTING_CODE' tags.
 */

package {{toLower .Class}}

import (
	// EXISTING_CODE
	// EXISTING_CODE
)

{{- if $shouldBePtr}}

// TODO: The slices should be slices to pointers{{end}}
type {{.Class}}Page struct {
	Facet         types.DataFacet      `json:"facet"`
	{{range .Stores}}{{.}} []{{if $shouldBePtr}}{{else}}*{{end}}{{toSingular .}} `json:"{{toLower .}}"`
{{end -}}
	TotalItems    int                  `json:"totalItems"`
	ExpectedTotal int                  `json:"expectedTotal"`
	IsFetching    bool                 `json:"isFetching"`
	State         types.LoadState      `json:"state"`
}

func (p *{{.Class}}Page) GetFacet() types.DataFacet {
	return p.Facet
}

func (p *{{.Class}}Page) GetTotalItems() int {
	return p.TotalItems
}

func (p *{{.Class}}Page) GetExpectedTotal() int {
	return p.ExpectedTotal
}

func (p *{{.Class}}Page) GetIsFetching() bool {
	return p.IsFetching
}

func (p *{{.Class}}Page) GetState() types.LoadState {
	return p.State
}

// EXISTING_CODE
// EXISTING_CODE
