#app {
  height: 100vh;
  text-align: center;
}

.result {
  height: 20px;
  line-height: 20px;
  margin: 1.5rem auto;
}

.btn {
  width: 80px;
  height: 30px;
  line-height: 30px;
  border-radius: 3px;
  border: none;
  margin: 20px 0 0 20px;
  padding: 0 8px;
  cursor: pointer;
}

.btn:hover {
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  color: #333333;
}

.gridColumn {
  border: 1px solid #ccc;
  padding: 8px; /* Optional: Add some padding for better spacing */
}

.tabPanel {
  max-height: 95vh;
  overflow: auto;
}
